@import "~uikit/dist/css/uikit.min.css"; 


* {
    box-sizing: border-box;
}
section h2 {
    display: flex;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #474a73;
}
section h2 > span {
    display: flex !important;
    align-items: center;
}
section h2 > span > .uk-icon {
    margin-right: 8px;
}
section .show-more-wrap {
    margin-top: 50px;
    text-align: center;
}
a {
    text-decoration: none !important;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}



header {
    position: relative;
    overflow: hidden;
    min-height: 500px;
    padding: 70px 20px;
}
.header__background {
    will-change: transform;
}
.header__wrap {
    text-align: center;
}
.header__wrap__name {
    margin: 35px 0 5px;
    color: #fff;
    text-shadow: 0 0 5px #000;
    font-weight: 600;
    font-size: 2.4rem;
    letter-spacing: 1px;
}
.header__wrap__image .avatar--image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.header__wrap__position {
    display: block;
    margin-top: 20px;
    color: rgba(255, 255, 255, .95);
    font-size: 1.1rem;
}
.header__wrap__social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.header__wrap__social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 9px;
    margin: 0 7px;
    color: #fff;
    transition: 0.2s;
    min-width: 35px;
}
.header__wrap__social a:hover {
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
}
.header__wrap__social a svg {
    width: 100%;
    height: 100%;
    fill: #fff;
}
@media only screen and (max-width: 768px) {
    .header__wrap__name {
        font-size: 1.8rem;
   }
}

.header__wrap__hireble {
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
    vertical-align:middle;
    
    margin-top: 13px;
    margin-bottom: 13px;
}

.repositories {
    display: flex;
    flex-wrap: wrap;
}
.repository {
    display: block;
    padding: 15px;
    color: rgba(0, 0, 0, .9);
}
.repository .repository__name {
    color: #474a73;
}
.repository .repository__name, .repository .repository__bottom {
    transition: 0.2s color;
}
.repository:hover .repository__name, .repository:hover .repository__bottom {
    color: #000;
}
.repository__name {
    font-weight: bold;
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.repository__description {
    flex: 1 1 auto;
    margin-top: 15px;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
    font-size: 0.9rem;
}
.repository__details{
    /* display: flex; */
    color: rgba(0, 0, 0, .8);
    /* background-color: purple; */
    display: inline-flex;
}

.repository__demo{
    /* background-color: aqua; */
    display: inline-block;
    font-size: 0.8rem;
    padding-left: 20px;
}

.repository__bottom > a > div {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.repository__bottom > a> div:last-child {
    margin-right: 0;
}
.repository__bottom > a > div > span {
    font-size: 0.8rem;
}
.repository__bottom > a > div > span.uk-icon {
    width: 14px;
    margin-right: 7px;
}
.repository__bottom > a > div > span.uk-icon svg {
    width: 100%;
    height: 100%;
}


footer {
    margin-bottom: 30px;
    text-align: center;
    font-size: 0.6rem;
    letter-spacing: 2px;
    color: #b1b1b1;
}


.max--width {
    max-width: 600px;
}
.mx--auto {
    margin-left: auto;
    margin-right: auto;
}
.text--center {
    text-align: center;
}
.background--image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    will-change: background-position;
}
.background--image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}
.avatar--image {
    border-radius: 20px;
}






/* .avatar--image {
    background: url(https://avatars0.githubusercontent.com/u/35786089?v=4);
    background-size: 100% 100%;
} */
.background--image {
    background: url('../../assets/aa.jpg');
    background-size: 100% 120%;
    background-repeat: no-repeat;
}







  










